.container{
    text-align: center;
    margin-top: 50px;
}

.input-container{
    margin-top: 20px;
}

.input-container input[type='text']{
    padding: 10px;
    font-size: 16px;/* 1 rem*/
    width: 300px;
}

.input-container button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}