*{
    margin: 0;
}
body{
    background-image: url('./images/Image20230428121417.jpg');
    color: #eedb00;
    background-attachment: fixed;
}

header{
    background-color: rgba(60,69,67,.6);
    border-radius: 15px 15px 0 0;
    height: 6em;
}

nav>ul{
    display: flex;
    list-style: none;
    padding: 0;
    position:fixed;
    top: 5px;
    left: 40px;
}
h1{
    font-size: 2em;
    text-align: center;
}