*{
color: rgb(255, 255, 0);
background-color: rgb(18, 18, 242);
text-align: center;
}

#btn10{
    font-size: 1.2rem;
    cursor:pointer;
    border-radius: 25%;

}

#btn-10{
font-size: 1.2rem;
cursor:pointer;
border-radius: 25%;
}

#zero{
    font-size: 1.5rem;
    cursor: pointer;
    bottom: none;
}