body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.postCard{
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}

postTitle{
    font-size: 18px;
    text-align: center;
}

.postBody{
    margin-top: 5px;
    text-align: justify;
    text-indent: 25px;
}