* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: inherit;
  background-color: azure;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.productCard img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}