.flex-container{
    width: 900px;
    height: 450px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}
.item{
    height: 150px;
    width: 250px;
    background-color: blue;
    color:whitesmoke;
    font-size: 3em;
    text-align: center;
    color:whitesmoke;
}
.small{
    height: 100px;
    font-size: 2em;
    order: 5;
    align-self: flex-end;
}
.large{
    height: 200px;
    font-size: 5em;
    order: 4;
}