
body{
    background-color: #000;
    color: aliceblue;
    font-family: arial;
}
.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

label {
    text-align: center;
    margin-top: 5px;
}

button {
    background-color: greenyellow;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
}
#stats{
    background-color: yellow;
   cursor: pointer;
   
}
#add:hover{
    transform: scale(1.5);
    background-color: wheat;
    color: green;
}
#stats:hover{
    transform: scale(1.3);
    background-color: wheat;
    color: green;
}