#container{
width: 200px;
height: 200px;
background-color: green;
position: relative;
margin: 0 auto;
}

#box{
width: 50px;
height: 50px;
background-color:red;
position: absolute;
}

/* #time{
    margin: 10px auto;
    width: fit-content;
} */